.clearfix::after{
    content: "";     
    display: table;
    clear: both; 
}

// color
.primary {
    color: $primary;
}

.primary_dark {
    color: $primary_dark;
}

.white {
    color: $white;
}

.dark {
    color: $dark;
}

.banner_inner_page {
    height: 304px;
    margin-bottom: 88px;
    .container, 
    .row {
        height: 100%;
    }
    h2 {
        font-size: 64px;
        line-height: 80px;
    }
}

.bg_cover {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

@media (max-width: 1200px) {
    .banner_inner_page {
        margin-bottom: 40px;
        h2 {
            font-size: 48px;
        }
    }
}

@media (max-width: 767px) {
    .banner_inner_page {
        height: 143px;
        margin-bottom: 24px;
        .row {
            margin-left: 0;
            margin-right: 0;
        }
        h2 {
            font-size: 28px;
            line-height: 1.5;
        }
    }
}

// Grid
.container {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

.col_12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.col_8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
}

.col_6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.col_4 {
    flex: 0 0 33.333%;
    max-width: 33.333%;
}

.col_3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.mr_1 {
    margin-right: 8px;
}

.mb_1 {
    margin-bottom: 8px;
}

.p_0 {
    padding: 0;
}

.d_flex {
    display: flex;
}

.flex_row {
    flex-direction: row;
}

.flex_row_reverse {
    flex-direction: row-reverse;
}

.flex_column {
    flex-direction: column;
}

.flex_column_reverse {
    flex-direction: column-reverse;
}

.justify_center {
    justify-content: center;
}

.justify_between {
    justify-content: space-between;
}

.justify_end {
    justify-content: flex-end;
}

.align_center {
    align-items: center;
}

.align_end {
    align-items: flex-end;
}

.flex_wrap {
    flex-wrap: wrap;
}

.flex_nowrap {
    flex-wrap: nowrap;
}

@media (max-width: 1200px)  {
    .container {
        // max-width: 960px;
        padding-left: 48px;
        padding-right: 48px;
    }

    .row {
        margin-left: 0;
        margin-right: 0;
    }

    .col_md_6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col_md_3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

}

@media (max-width: 767px) {
    .container {
        // max-width: 720px;
        padding-left: 12px;
        padding-right: 12px;
    }

    .row {
        margin-left: -12px;
        margin-right: -12px;
    }

    .col_sm_12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .col_sm_9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col_sm_6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col_sm_4 {
        flex: 0 0 33.333%;
        max-width: 33.333%;
    }

    .col_sm_3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .justify_sm_center {
        justify-content: center;
    }

    .align_sm_center {
        align-items: center;
    }

    .align_sm_start {
        align-items: flex-start;
    }

    .align_sm_end {
        align-items: flex-end;
    }

    .flex_sm_row {
        flex-direction: row;
    }

    .flex_sm_column {
        flex-direction: column;
    }

    .flex_sm_wrap {
        flex-wrap: wrap;
    }

    .flex_sm_nowrap {
        flex-wrap: nowrap;
    }
}


