/* Q&A */
.banner_fqa {
    background-image: url(../images/qa.png);
}
.qa {
    h3 {
        margin-bottom: 16px;
        font-size: 32px;
    }
}

.icon_question {
    display: inline-block;
    width: 58px;
    height: 58px;
    margin-left: 10px;
    background-image: url(../images/icon-help.svg);
}

.question {
    padding: 22px 38px;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid $dark;
    border-bottom-color: transparent;
    position: relative;
    &::after {
        content: '';
        display: block;
        width: 16px;
        height: 16px;
        border-left: 3px solid $dark;
        border-bottom: 3px solid $dark;
        position: absolute;
        right: 40px;
        top: 50%;
        transform: rotate(-45deg) translateY(calc(-50% - 8px));
    }
}

.answer {
    display: none;
    padding: 22px 38px;
    background-color: #f2f2f2;
    font-size: 16px;
    line-height: 1.5;
    border: 1px solid $dark;
    border-bottom-color: transparent;
}

.question_list {
    margin-bottom: 156px;
    li {
        &:last-of-type .question{
            border-bottom-color: $dark;
        }
    }
}

@media (max-width: 1200px) {
    .qa {
        h3 {
            margin-bottom: 32px;
            font-size: 28px;
        }
    }

    .icon_question {
        width: 48px;
        height: 48px;
        margin-left: 16px;
    }

    .question {
        padding: 16px 24px;
        font-size: 16px;
        &::after {
            width: 12px;
            height: 12px;
            right: 24px;
        }
    }

    .answer {
        padding: 16px 24px;
    }

    .question_list {
        margin-bottom: 104px;
    }
}

@media (max-width: 767px) {
    .qa {
        .row {
            margin-left: 0;
            margin-right: 0;
        }
        h3 {
            margin-bottom: 16px;
            font-size: 20px;
        }
    }

    .icon_question {
        width: 24px;
        height: 24px;
        margin-left: 8px;
    }

    .question {
        padding: 16px;
        &::after {
            right: 16px;
        }
    }

    .answer {
        padding: 16px;
        font-size: 14px;
    }

    .question_list {
        margin-bottom: 56px;
    }
}
/* Q&A End */
